* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
body {
    margin-top: 100px;
}
.container {
    text-align: center;
}
#form label {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
#input {
    text-align: center;
    height: 46px;
    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 6px;
    
}
#input:hover {
    box-shadow: 0px 0px 6px 2px #1095c1;
}
#input::placeholder {
    text-align: center;
}
#form small {
    text-align: start;
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 2px;
}
#submit {
    font-size: 1.8rem;
    font-weight: 600;
    box-shadow: 5px 5px 5px 0px #1d2b36, inset 4px 4px 15px 0px #95a6b2, 4px 4px 22px 0px #002b4e;
    border-radius: 0.50rem;
    border-color: #2c2c2c;
}
#results {
    text-align: start;
    font-size: 1.6rem;
}